@import "../main.css";

@layer components {
  .dialog [data-scope="dialog"][data-part="trigger"] {
    @apply ui-trigger;
  }

  .dialog [data-scope="dialog"][data-part="close-trigger"] {
    @apply ui-trigger ui-trigger--circle ui-trigger--sm;

    flex-shrink: 0;
    height: fit-content;
  }

  .dialog [data-scope="dialog"][data-part="backdrop"] {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: color-mix(in srgb, var(--color-ui) 95%, transparent);
    z-index: 10;
  }

  .dialog [data-scope="dialog"][data-part="positioner"] {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .dialog [data-scope="dialog"][data-part="content"] {
    @apply ui-content;

    max-width: var(--container-md);
    margin: --spacing(4);
    padding: --spacing(4);
  }


  .dialog [data-scope="dialog"][data-part="header"] {
    display: flex;
    align-items: center;
    gap: --spacing(4);
  }

  .dialog [data-scope="dialog"][data-part="header"] [data-scope="dialog"][data-part="title"] {
    flex: 1 1 0%;
    min-width: 0;
  }

  .dialog [data-part="row"] {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .dialog [data-scope="dialog"][data-part="title"],
  .dialog [data-scope="dialog"][data-part="description"] {
    margin-block: 0;
  }

  .dialog.dialog--side [data-scope="dialog"][data-part="content"],
  .dialog.dialog--sidebar [data-scope="dialog"][data-part="content"] {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--container-3xs);
    padding: 0;
    margin: 0;
    border-radius: var(--radius-none);
  }

  .dialog.dialog--side [data-scope="dialog"][data-part="positioner"],
  .dialog.dialog--sidebar [data-scope="dialog"][data-part="positioner"] {
    align-items: stretch;
    justify-content: flex-start;
    height: 100vh;
  }

  .dialog.dialog--sm [data-scope="dialog"][data-part="content"] {
    max-width: var(--container-xs);
  }

  .dialog.dialog--md [data-scope="dialog"][data-part="content"] {
    max-width: var(--container-sm);
  }

  .dialog.dialog--lg [data-scope="dialog"][data-part="content"] {
    max-width: var(--container-md);
  }

  .dialog.dialog--xl [data-scope="dialog"][data-part="content"] {
    max-width: var(--container-lg);
  }
}
