@theme inline {
  --text-ui: var(--text-base);
  --text-ui--line-height: var(--text-base--line-height);
  --text-ui-sm: var(--text-sm);
  --text-ui-sm--line-height: var(--text-sm--line-height);
  --text-ui-md: var(--text-base);
  --text-ui-md--line-height: var(--text-base--line-height);
  --text-ui-lg: var(--text-lg);
  --text-ui-lg--line-height: var(--text-lg--line-height);
  --text-ui-xl: var(--text-xl);
  --text-ui-xl--line-height: var(--text-xl--line-height);
  --font-weight-ui-sm: var(--font-weight-normal);
  --font-weight-ui: var(--font-weight-medium);
  --font-weight-ui-md: var(--font-weight-medium);
  --font-weight-ui-lg: var(--font-weight-semibold);
  --font-weight-ui-xl: var(--font-weight-bold);
  --spacing-ui-gap: calc(var(--spacing) * 4);
  --spacing-ui-gap-sm: calc(var(--spacing) * 2);
  --spacing-ui-gap-md: calc(var(--spacing) * 4);
  --spacing-ui-gap-lg: calc(var(--spacing) * 6);
  --spacing-ui-gap-xl: calc(var(--spacing) * 8);
  --spacing-ui-padding: calc(var(--spacing) * 4);
  --spacing-ui-padding-sm: calc(var(--spacing) * 2);
  --spacing-ui-padding-md: calc(var(--spacing) * 4);
  --spacing-ui-padding-lg: calc(var(--spacing) * 6);
  --spacing-ui-padding-xl: calc(var(--spacing) * 8);
  --spacing-ui-sm: calc(var(--spacing) * 9);
  --spacing-ui-md: calc(var(--spacing) * 11);
  --spacing-ui: calc(var(--spacing) * 11);
  --spacing-ui-lg: calc(var(--spacing) * 12);
  --spacing-ui-xl: calc(var(--spacing) * 14);
  --spacing-mini-sm: calc(var(--spacing) * 5);
  --spacing-mini-md: calc(var(--spacing) * 6);
  --spacing-mini-lg: calc(var(--spacing) * 7);
  --spacing-mini-xl: calc(var(--spacing) * 8);
  --spacing-mini: calc(var(--spacing) * 6);
  --spacing-mini-gap-sm: calc(var(--spacing) * 1);
  --spacing-mini-gap-md: calc(var(--spacing) * 2);
  --spacing-mini-gap-lg: calc(var(--spacing) * 3);
  --spacing-mini-gap-xl: calc(var(--spacing) * 4);
  --spacing-mini-gap: calc(var(--spacing) * 2);
  --spacing-mini-padding-sm: calc(var(--spacing) * 1);
  --spacing-mini-padding-md: calc(var(--spacing) * 2);
  --spacing-mini-padding-lg: calc(var(--spacing) * 3);
  --spacing-mini-padding-xl: calc(var(--spacing) * 4);
  --spacing-mini-padding: calc(var(--spacing) * 2);
  --spacing-micro-sm: calc(var(--spacing) * 1);
  --spacing-micro-md: calc(var(--spacing) * 2);
  --spacing-micro-lg: calc(var(--spacing) * 3);
  --spacing-micro-xl: calc(var(--spacing) * 4);
  --spacing-micro: calc(var(--spacing) * 2);
  --spacing-micro-gap-sm: calc(var(--spacing) * 1);
  --spacing-micro-gap-md: calc(var(--spacing) * 1);
  --spacing-micro-gap-lg: calc(var(--spacing) * 2);
  --spacing-micro-gap-xl: calc(var(--spacing) * 2);
  --spacing-micro-gap: calc(var(--spacing) * 1);
  --spacing-micro-padding-sm: calc(var(--spacing) * 1);
  --spacing-micro-padding-md: calc(var(--spacing) * 1);
  --spacing-micro-padding-lg: calc(var(--spacing) * 2);
  --spacing-micro-padding-xl: calc(var(--spacing) * 2);
  --spacing-micro-padding: calc(var(--spacing) * 1);
  --container-ui-sm: var(--container-xs);
  --container-ui-md: var(--container-sm);
  --container-ui-lg: var(--container-lg);
  --container-ui-xl: var(--container-5xl);
  --container-ui: var(--container-sm);
  --container-mini-sm: 12rem;
  --container-mini-md: var(--container-xs);
  --container-mini-lg: var(--container-sm);
  --container-mini-xl: var(--container-md);
  --container-mini: var(--container-xs);
  --container-micro-sm: 6rem;
  --container-micro-md: 8rem;
  --container-micro-lg: var(--container-3xs);
  --container-micro-xl: var(--container-2xs);
  --container-micro: 8rem;
  --duration-sm: 150ms;
  --duration-md: 200ms;
  --duration-lg: 300ms;
  --duration-xl: 500ms;
  --color-root: var(--color-zinc-50);
  --color-root--border: var(--color-zinc-100);
  --color-root--text: var(--color-zinc-900);
  --color-root--muted: var(--color-zinc-600);
  --color-root--accent: var(--color-zinc-800);
  --color-root--brand: var(--color-zinc-700);
  --color-root--alert: var(--color-red-800);
  --color-root--info: var(--color-blue-900);
  --color-root--success: var(--color-emerald-900);
  --color-layer: var(--color-stone-100);
  --color-layer--border: var(--color-stone-200);
  --color-layer--text: var(--color-stone-800);
  --color-layer--muted: var(--color-stone-600);
  --color-layer--accent: var(--color-stone-800);
  --color-layer--brand: var(--color-stone-700);
  --color-layer--alert: var(--color-red-600);
  --color-layer--info: var(--color-blue-700);
  --color-layer--success: var(--color-emerald-700);
  --color-ui: var(--color-zinc-200);
  --color-ui-hover: var(--color-zinc-300);
  --color-ui-active: var(--color-zinc-400);
  --color-ui--border: var(--color-zinc-300);
  --color-ui--text: var(--color-zinc-900);
  --color-ui--muted: var(--color-zinc-600);
  --color-ui-accent: var(--color-neutral-900);
  --color-ui-accent-hover: var(--color-neutral-800);
  --color-ui-accent-active: var(--color-neutral-950);
  --color-ui-accent--border: var(--color-neutral-700);
  --color-ui-accent--text: var(--color-neutral-100);
  --color-ui-accent--muted: var(--color-neutral-400);
  --color-ui-brand: var(--color-slate-900);
  --color-ui-brand-hover: var(--color-slate-800);
  --color-ui-brand-active: var(--color-slate-950);
  --color-ui-brand--border: var(--color-slate-700);
  --color-ui-brand--text: var(--color-slate-100);
  --color-ui-brand--muted: var(--color-slate-400);
  --color-ui-alert: var(--color-red-700);
  --color-ui-alert-hover: var(--color-red-600);
  --color-ui-alert-active: var(--color-red-500);
  --color-ui-alert--border: var(--color-red-400);
  --color-ui-alert--text: var(--color-red-50);
  --color-ui-alert--muted: var(--color-red-100);
  --color-ui-info: var(--color-blue-700);
  --color-ui-info-hover: var(--color-blue-600);
  --color-ui-info-active: var(--color-blue-500);
  --color-ui-info--border: var(--color-blue-400);
  --color-ui-info--text: var(--color-blue-50);
  --color-ui-info--muted: var(--color-blue-100);
  --color-ui-success: var(--color-emerald-700);
  --color-ui-success-hover: var(--color-emerald-600);
  --color-ui-success-active: var(--color-emerald-500);
  --color-ui-success--border: var(--color-emerald-400);
  --color-ui-success--text: var(--color-emerald-50);
  --color-ui-success--muted: var(--color-emerald-100);

  --color-layer--sm: var(--color-blue-700);
  --color-layer--md: var(--color-blue-700);
  --color-layer--lg: var(--color-blue-700);
  --color-layer--xl: var(--color-blue-700);
}
