<Layouts.app flash={@flash} locale={@locale} current_path={@current_path}>
  <div class="layout__row">
    <h1>Avatar</h1>
    <h2>Controller View</h2>
  </div>
  <.avatar id="my-avatar" src="" class="avatar">
    <:fallback>JD</:fallback>
  </.avatar>
</Layouts.app>
