<Layouts.app flash={@flash} locale={@locale} current_path={@current_path}>
  <div class="layout__row">
    <h1>Listbox</h1>
    <h2>Controller View</h2>
  </div>
  <.listbox
    id="my-listbox"
    collection={
      Corex.List.new([[label: "A", id: "a"], [label: "B", id: "b"], [label: "C", id: "c"]])
    }
    class="listbox"
  >
    <:label>Choose</:label>
  </.listbox>
</Layouts.app>
