<Layouts.app flash={@flash} locale={@locale} current_path={@current_path}>
  <div class="layout__row">
    <h1>Number Input</h1>
    <h2>Controller View</h2>
  </div>
  <.number_input id="my-number-input" class="number-input">
    <:label>Quantity</:label>
  </.number_input>
</Layouts.app>
