<Layouts.app flash={@flash} locale={@locale} current_path={@current_path}>
  <div class="layout__row">
    <h1>Password Input</h1>
    <h2>Controller View</h2>
  </div>
  <.password_input id="my-password-input" class="password-input">
    <:label>Password</:label>
  </.password_input>
</Layouts.app>
