<Layouts.app
  flash={@flash}
  mode={@mode}
  theme={@theme}
  path={@path}
>
  <.demo_page
    path={@path}
    id="qr-code-styling-page"
    title={~t"QR Code · Style"}
    subtitle={
      ~t"Semantic colors, density, and corner radius via modifier classes on the host. No variant axis."
    }
  >
    <.demo_section
      id="qr-code-styling-color"
      title={~t"Semantic"}
      code={E2eWeb.Demos.QrCodeDemo.styling_color_code()}
    >
      <:description>
        <.demo_modifier_axis name="qr-code" axis={:semantic} />
      </:description>
      <:preview>
        <E2eWeb.Demos.QrCodeDemo.styling_color_example />
      </:preview>
    </.demo_section>

    <.demo_section
      id="qr-code-styling-size"
      title={~t"Size"}
      code={E2eWeb.Demos.QrCodeDemo.styling_size_code()}
    >
      <:description>
        <.demo_modifier_axis name="qr-code" axis={:size} />
      </:description>
      <:preview>
        <E2eWeb.Demos.QrCodeDemo.styling_size_example />
      </:preview>
    </.demo_section>

    <.demo_section
      id="qr-code-styling-rounded"
      title={~t"Rounded"}
      code={E2eWeb.Demos.QrCodeDemo.styling_rounded_code()}
    >
      <:description>
        <.demo_modifier_axis name="qr-code" axis={:radius} />
      </:description>
      <:preview>
        <E2eWeb.Demos.QrCodeDemo.styling_rounded_example />
      </:preview>
    </.demo_section>

    <.demo_section
      id="qr-code-styling-width"
      title={~t"Width"}
      code={E2eWeb.Demos.QrCodeDemo.styling_width_code()}
    >
      <:description>
        <.demo_modifier_axis name="qr-code" axis={:width} />
      </:description>
      <:preview>
        <E2eWeb.Demos.QrCodeDemo.styling_width_example />
      </:preview>
    </.demo_section>

    <.demo_section
      id="qr-code-styling-max-width"
      title={~t"Max width"}
      code={E2eWeb.Demos.QrCodeDemo.styling_max_width_code()}
    >
      <:description>
        <.demo_modifier_axis name="qr-code" axis={:max_width} />
      </:description>
      <:preview>
        <E2eWeb.Demos.QrCodeDemo.styling_max_width_example />
      </:preview>
    </.demo_section>
  </.demo_page>
</Layouts.app>
