<Layouts.app flash={@flash} locale={@locale} current_path={@current_path}>
  <div class="layout__row">
    <h1>Timer</h1>
    <h2>Controller View</h2>
  </div>
  <.timer id="my-timer" countdown target_ms={60_000} class="timer" />
</Layouts.app>
