@theme inline {
  --color-accent: var(--color-accent);
  --color-accent-active: var(--color-accent-active);
  --color-accent-hover: var(--color-accent-hover);
  --color-accent-muted: var(--color-accent-muted);
  --color-alert: var(--color-alert);
  --color-alert-active: var(--color-alert-active);
  --color-alert-hover: var(--color-alert-hover);
  --color-alert-muted: var(--color-alert-muted);
  --color-base: var(--color-base);
  --color-base-active: var(--color-base-active);
  --color-base-hover: var(--color-base-hover);
  --color-base-muted: var(--color-base-muted);
  --color-border: var(--color-border);
  --color-brand: var(--color-brand);
  --color-brand-active: var(--color-brand-active);
  --color-brand-hover: var(--color-brand-hover);
  --color-brand-muted: var(--color-brand-muted);
  --color-focus: var(--color-focus);
  --color-info: var(--color-info);
  --color-info-active: var(--color-info-active);
  --color-info-hover: var(--color-info-hover);
  --color-info-muted: var(--color-info-muted);
  --color-on-accent: var(--color-on-accent);
  --color-on-alert: var(--color-on-alert);
  --color-on-base: var(--color-on-base);
  --color-on-brand: var(--color-on-brand);
  --color-on-control: var(--color-on-control);
  --color-on-info: var(--color-on-info);
  --color-on-link: var(--color-on-link);
  --color-on-muted: var(--color-on-muted);
  --color-on-page: var(--color-on-page);
  --color-on-success: var(--color-on-success);
  --color-shadow: var(--color-shadow);
  --color-success: var(--color-success);
  --color-success-active: var(--color-success-active);
  --color-success-hover: var(--color-success-hover);
  --color-success-muted: var(--color-success-muted);
  --color-surface-control: var(--color-surface-control);
  --color-surface-control-active: var(--color-surface-control-active);
  --color-surface-control-hover: var(--color-surface-control-hover);
  --color-surface-control-muted: var(--color-surface-control-muted);
  --color-surface-page: var(--color-surface-page);
  --color-surface-raised: var(--color-surface-raised);
  --spacing: var(--spacing);
  --spacing-sm: var(--spacing-sm);
  --spacing-lg: var(--spacing-lg);
  --spacing-md: var(--spacing-md);
  --spacing-xl: var(--spacing-xl);
  --spacing-control-sm: var(--spacing-control-sm);
  --spacing-control-lg: var(--spacing-control-lg);
  --spacing-control-md: var(--spacing-control-md);
  --spacing-control-xl: var(--spacing-control-xl);
  --text-base: var(--text-base);
  --text-sm: var(--text-sm);
  --text-lg: var(--text-lg);
  --text-xl: var(--text-xl);
  --text-4xl: var(--text-4xl);
  --text-xs: var(--text-xs);
  --text-2xl: var(--text-2xl);
  --text-3xl: var(--text-3xl);
  --text-5xl: var(--text-5xl);
  --text-6xl: var(--text-6xl);
  --text-7xl: var(--text-7xl);
  --text-8xl: var(--text-8xl);
  --text-9xl: var(--text-9xl);
  --text-xs--line-height: var(--text-xs--line-height);
  --text-sm--line-height: var(--text-sm--line-height);
  --text-base--line-height: var(--text-base--line-height);
  --text-lg--line-height: var(--text-lg--line-height);
  --text-xl--line-height: var(--text-xl--line-height);
  --text-2xl--line-height: var(--text-2xl--line-height);
  --text-3xl--line-height: var(--text-3xl--line-height);
  --text-4xl--line-height: var(--text-4xl--line-height);
  --text-5xl--line-height: var(--text-5xl--line-height);
  --text-6xl--line-height: var(--text-6xl--line-height);
  --text-7xl--line-height: var(--text-7xl--line-height);
  --text-8xl--line-height: var(--text-8xl--line-height);
  --text-9xl--line-height: var(--text-9xl--line-height);
  --radius-none: var(--radius-none);
  --radius-full: var(--radius-full);
  --radius-sm: var(--radius-sm);
  --radius-lg: var(--radius-lg);
  --radius-md: var(--radius-md);
  --radius-xl: var(--radius-xl);
  --radius-4xl: var(--radius-4xl);
  --radius-xs: var(--radius-xs);
  --radius-2xl: var(--radius-2xl);
  --radius-3xl: var(--radius-3xl);
  --container-7xs: var(--container-7xs);
  --container-6xs: var(--container-6xs);
  --container-5xs: var(--container-5xs);
  --container-4xs: var(--container-4xs);
  --container-3xs: var(--container-3xs);
  --container-2xs: var(--container-2xs);
  --container-xs: var(--container-xs);
  --container-sm: var(--container-sm);
  --container-md: var(--container-md);
  --container-lg: var(--container-lg);
  --container-xl: var(--container-xl);
  --container-2xl: var(--container-2xl);
  --container-3xl: var(--container-3xl);
  --container-4xl: var(--container-4xl);
  --container-5xl: var(--container-5xl);
  --container-6xl: var(--container-6xl);
  --container-7xl: var(--container-7xl);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --font-code: var(--font-code);
  --font-display: var(--font-display);
  --leading-xs: var(--leading-xs);
  --leading-sm: var(--leading-sm);
  --leading-base: var(--leading-base);
  --leading-lg: var(--leading-lg);
  --leading-xl: var(--leading-xl);
  --leading-2xl: var(--leading-2xl);
  --leading-3xl: var(--leading-3xl);
  --leading-4xl: var(--leading-4xl);
  --leading-tight: var(--leading-tight);
  --leading-snug: var(--leading-snug);
  --leading-normal: var(--leading-normal);
  --leading-relaxed: var(--leading-relaxed);
  --leading-loose: var(--leading-loose);
  --tracking-tighter: var(--tracking-tighter);
  --tracking-tight: var(--tracking-tight);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: var(--tracking-wide);
  --tracking-wider: var(--tracking-wider);
  --tracking-widest: var(--tracking-widest);
  --font-weight-normal: var(--font-weight-normal);
  --font-weight-black: var(--font-weight-black);
  --font-weight-light: var(--font-weight-light);
  --font-weight-medium: var(--font-weight-medium);
  --font-weight-semibold: var(--font-weight-semibold);
  --font-weight-thin: var(--font-weight-thin);
  --font-weight-extralight: var(--font-weight-extralight);
  --font-weight-bold: var(--font-weight-bold);
  --font-weight-extrabold: var(--font-weight-extrabold);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-ui: var(--shadow-ui);
  --shadow-layer: var(--shadow-layer);
  --inset-shadow-2xs: var(--inset-shadow-2xs);
  --inset-shadow-xs: var(--inset-shadow-xs);
  --inset-shadow-sm: var(--inset-shadow-sm);
  --drop-shadow-xs: var(--drop-shadow-xs);
  --drop-shadow-sm: var(--drop-shadow-sm);
  --drop-shadow-md: var(--drop-shadow-md);
  --drop-shadow-lg: var(--drop-shadow-lg);
  --drop-shadow-xl: var(--drop-shadow-xl);
  --drop-shadow-2xl: var(--drop-shadow-2xl);
  --text-shadow-2xs: var(--text-shadow-2xs);
  --text-shadow-xs: var(--text-shadow-xs);
  --text-shadow-sm: var(--text-shadow-sm);
  --text-shadow-md: var(--text-shadow-md);
  --text-shadow-lg: var(--text-shadow-lg);
  --blur-xs: var(--blur-xs);
  --blur-sm: var(--blur-sm);
  --blur-md: var(--blur-md);
  --blur-lg: var(--blur-lg);
  --blur-xl: var(--blur-xl);
  --blur-2xl: var(--blur-2xl);
  --blur-3xl: var(--blur-3xl);
  --perspective-dramatic: var(--perspective-dramatic);
  --perspective-near: var(--perspective-near);
  --perspective-normal: var(--perspective-normal);
  --perspective-midrange: var(--perspective-midrange);
  --perspective-distant: var(--perspective-distant);
  --aspect-video: var(--aspect-video);
  --ease-in: var(--ease-in);
  --ease-out: var(--ease-out);
  --ease-in-out: var(--ease-in-out);
  --animate-spin: var(--animate-spin);
  --animate-ping: var(--animate-ping);
  --animate-pulse: var(--animate-pulse);
  --animate-bounce: var(--animate-bounce);
  --breakpoint-sm: var(--breakpoint-sm);
  --breakpoint-md: var(--breakpoint-md);
  --breakpoint-lg: var(--breakpoint-lg);
  --breakpoint-xl: var(--breakpoint-xl);
  --breakpoint-2xl: var(--breakpoint-2xl);
}

@utility min-w-* {
  min-width: --value(--container-*, [length]);
}

@utility min-h-* {
  min-height: --value(--container-*, [length]);
}

@utility max-h-* {
  max-height: --value(--container-*, [length]);
}
