:root {
  --leading-xs: 1.3333;
  --leading-sm: 1.4286;
  --leading-base: 1.5;
  --leading-lg: 1.5556;
  --leading-xl: 1.4;
  --leading-2xl: 1.3333;
  --leading-3xl: 1.2;
  --leading-4xl: 1.1111;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base--line-height: calc(1.5 / 1);
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl--line-height: 1;
  --text-6xl--line-height: 1;
  --text-7xl--line-height: 1;
  --text-8xl--line-height: 1;
  --text-9xl--line-height: 1;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
  --font-weight-normal: 400;
  --font-weight-black: 900;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --shadow-2xs: 0 1px var(--color-shadow);
  --shadow-xs: 0 1px 2px 0 var(--color-shadow);
  --shadow-sm: 0 1px 3px 0 var(--color-shadow), 0 1px 2px -1px var(--color-shadow);
  --shadow-md: 0 4px 6px -1px var(--color-shadow), 0 2px 4px -2px var(--color-shadow);
  --shadow-lg: 0 10px 15px -3px var(--color-shadow), 0 4px 6px -4px var(--color-shadow);
  --shadow-xl: 0 20px 25px -5px var(--color-shadow), 0 8px 10px -6px var(--color-shadow);
  --shadow-2xl: 0 25px 50px -12px var(--color-shadow);
  --shadow-ui: 0 10px 15px -3px var(--color-shadow), 0 4px 6px -4px var(--color-shadow);
  --shadow-layer: 0 1px 1px 0 var(--color-shadow), 0 1px 1px 0 var(--color-shadow);
  --inset-shadow-2xs: inset 0 1px var(--color-shadow);
  --inset-shadow-xs: inset 0 1px 1px var(--color-shadow);
  --inset-shadow-sm: inset 0 2px 4px var(--color-shadow);
  --drop-shadow-xs: 0 1px 1px var(--color-shadow);
  --drop-shadow-sm: 0 1px 2px var(--color-shadow);
  --drop-shadow-md: 0 3px 3px var(--color-shadow);
  --drop-shadow-lg: 0 4px 4px var(--color-shadow);
  --drop-shadow-xl: 0 9px 7px var(--color-shadow);
  --drop-shadow-2xl: 0 25px 25px var(--color-shadow);
  --text-shadow-2xs: 0px 1px 0px var(--color-shadow);
  --text-shadow-xs: 0px 1px 1px var(--color-shadow);
  --text-shadow-sm: 0px 1px 0px var(--color-shadow), 0px 1px 1px var(--color-shadow), 0px 2px 2px var(--color-shadow);
  --text-shadow-md: 0px 1px 1px var(--color-shadow), 0px 1px 2px var(--color-shadow), 0px 2px 4px var(--color-shadow);
  --text-shadow-lg: 0px 1px 2px var(--color-shadow), 0px 3px 2px var(--color-shadow), 0px 4px 8px var(--color-shadow);
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --perspective-dramatic: 100px;
  --perspective-near: 300px;
  --perspective-normal: 500px;
  --perspective-midrange: 800px;
  --perspective-distant: 1200px;
  --aspect-video: 16 / 9;
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --spacing: 0.25rem;
  --spacing-sm: calc(var(--spacing) * 2);
  --spacing-lg: calc(var(--spacing) * 4);
  --spacing-md: calc(var(--spacing) * 3);
  --spacing-xl: calc(var(--spacing) * 5);
  --spacing-control-sm: calc(var(--spacing) * 8);
  --spacing-control-lg: calc(var(--spacing) * 12);
  --spacing-control-md: calc(var(--spacing) * 10);
  --spacing-control-xl: calc(var(--spacing) * 14);
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-4xl: 2.25rem;
  --text-xs: 0.75rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --radius: 0.375rem;
  --radius-none: 0;
  --radius-full: 9999px;
  --radius-sm: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-md: 0.375rem;
  --radius-xl: 0.75rem;
  --radius-4xl: 2rem;
  --radius-xs: 0.125rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --container-7xs: 6rem;
  --container-6xs: 8rem;
  --container-5xs: 10rem;
  --container-4xs: 12rem;
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-display: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-accent: #474747;
  --color-accent-active: #353535;
  --color-accent-hover: #3e3e3e;
  --color-accent-muted: #505050;
  --color-alert: #801f23;
  --color-alert-active: #630d14;
  --color-alert-hover: #70151a;
  --color-alert-muted: #8a2629;
  --color-base: #eaeaeb;
  --color-base-active: #d5d5d5;
  --color-base-hover: #dddddd;
  --color-base-muted: #f6f6f5;
  --color-border: #dedede;
  --color-brand: #2b3e8f;
  --color-brand-active: #1d2d74;
  --color-brand-hover: #22337f;
  --color-brand-muted: #32479c;
  --color-focus: #9f9f9f;
  --color-info: #00458e;
  --color-info-active: #00356b;
  --color-info-hover: #003a7e;
  --color-info-muted: #004e9b;
  --color-on-accent: #dfdfdf;
  --color-on-alert: #dadada;
  --color-on-base: #4d4d4d;
  --color-on-brand: #dcdcdc;
  --color-on-control: #454545;
  --color-on-info: #dfdfdf;
  --color-on-link: #005eb6;
  --color-on-muted: #696969;
  --color-on-page: #4d4d4d;
  --color-on-success: #e5e5e5;
  --color-shadow: #f2f2f2;
  --color-success: #005638;
  --color-success-active: #004027;
  --color-success-hover: #004a2e;
  --color-success-muted: #006040;
  --color-surface-control: #eaeaeb;
  --color-surface-control-active: #d5d5d5;
  --color-surface-control-hover: #dddddd;
  --color-surface-control-muted: #f6f6f5;
  --color-surface-page: #f8f8f8;
  --color-surface-raised: #f6f6f5;
}

[data-theme="duo"] {
  --spacing: 0.25rem;
  --spacing-sm: calc(var(--spacing) * 2);
  --spacing-lg: calc(var(--spacing) * 4);
  --spacing-md: calc(var(--spacing) * 3);
  --spacing-xl: calc(var(--spacing) * 5);
  --spacing-control-sm: calc(var(--spacing) * 8);
  --spacing-control-lg: calc(var(--spacing) * 12);
  --spacing-control-md: calc(var(--spacing) * 10);
  --spacing-control-xl: calc(var(--spacing) * 14);
  --text-base: 1.02rem;
  --text-sm: 0.8925rem;
  --text-lg: 1.1475rem;
  --text-xl: 1.275rem;
  --text-4xl: 2.295rem;
  --text-xs: 0.765rem;
  --text-2xl: 1.53rem;
  --text-3xl: 1.9125rem;
  --text-5xl: 3.06rem;
  --text-6xl: 3.825rem;
  --text-7xl: 4.59rem;
  --text-8xl: 6.12rem;
  --text-9xl: 8.16rem;
  --radius: 0.5175rem;
  --radius-none: 0;
  --radius-full: 9999px;
  --radius-sm: 0.345rem;
  --radius-lg: 0.805rem;
  --radius-md: 0.5175rem;
  --radius-xl: 1.15rem;
  --radius-4xl: 3.1625rem;
  --radius-xs: 0.1725rem;
  --radius-2xl: 1.5525rem;
  --radius-3xl: 2.3rem;
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-display: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

[data-theme="leo"] {
  --spacing: 0.24rem;
  --spacing-sm: calc(var(--spacing) * 2);
  --spacing-lg: calc(var(--spacing) * 4);
  --spacing-md: calc(var(--spacing) * 3);
  --spacing-xl: calc(var(--spacing) * 5);
  --spacing-control-sm: calc(var(--spacing) * 8);
  --spacing-control-lg: calc(var(--spacing) * 12);
  --spacing-control-md: calc(var(--spacing) * 10);
  --spacing-control-xl: calc(var(--spacing) * 14);
  --text-base: 0.96rem;
  --text-sm: 0.84rem;
  --text-lg: 1.08rem;
  --text-xl: 1.2rem;
  --text-4xl: 2.16rem;
  --text-xs: 0.72rem;
  --text-2xl: 1.44rem;
  --text-3xl: 1.8rem;
  --text-5xl: 2.88rem;
  --text-6xl: 3.6rem;
  --text-7xl: 4.32rem;
  --text-8xl: 5.76rem;
  --text-9xl: 7.68rem;
  --radius: 0.205rem;
  --radius-none: 0;
  --radius-full: 9999px;
  --radius-sm: 0.123rem;
  --radius-lg: 0.287rem;
  --radius-md: 0.205rem;
  --radius-xl: 0.41rem;
  --radius-4xl: 0.902rem;
  --radius-xs: 0.0656rem;
  --radius-2xl: 0.533rem;
  --radius-3xl: 0.697rem;
  --container-7xs: 5.76rem;
  --container-6xs: 7.68rem;
  --container-5xs: 9.6rem;
  --container-4xs: 11.52rem;
  --container-3xs: 15.36rem;
  --container-2xs: 17.28rem;
  --container-xs: 19.2rem;
  --container-sm: 23.04rem;
  --container-md: 26.88rem;
  --container-lg: 30.72rem;
  --container-xl: 34.56rem;
  --container-2xl: 40.32rem;
  --container-3xl: 46.08rem;
  --container-4xl: 53.76rem;
  --container-5xl: 61.44rem;
  --container-6xl: 69.12rem;
  --container-7xl: 76.8rem;
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-display: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

[data-theme="uno"] {
  --spacing: 0.23rem;
  --spacing-sm: calc(var(--spacing) * 2);
  --spacing-lg: calc(var(--spacing) * 4);
  --spacing-md: calc(var(--spacing) * 3);
  --spacing-xl: calc(var(--spacing) * 5);
  --spacing-control-sm: calc(var(--spacing) * 8);
  --spacing-control-lg: calc(var(--spacing) * 12);
  --spacing-control-md: calc(var(--spacing) * 10);
  --spacing-control-xl: calc(var(--spacing) * 14);
  --text-base: 0.92rem;
  --text-sm: 0.805rem;
  --text-lg: 1.035rem;
  --text-xl: 1.15rem;
  --text-4xl: 2.07rem;
  --text-xs: 0.69rem;
  --text-2xl: 1.38rem;
  --text-3xl: 1.725rem;
  --text-5xl: 2.76rem;
  --text-6xl: 3.45rem;
  --text-7xl: 4.14rem;
  --text-8xl: 5.52rem;
  --text-9xl: 7.36rem;
  --radius: 0.264rem;
  --radius-none: 0;
  --radius-full: 9999px;
  --radius-sm: 0.176rem;
  --radius-lg: 0.352rem;
  --radius-md: 0.264rem;
  --radius-xl: 0.484rem;
  --radius-4xl: 1.1rem;
  --radius-xs: 0.088rem;
  --radius-2xl: 0.616rem;
  --radius-3xl: 0.88rem;
  --container-7xs: 5.52rem;
  --container-6xs: 7.36rem;
  --container-5xs: 9.2rem;
  --container-4xs: 11.04rem;
  --container-3xs: 14.72rem;
  --container-2xs: 16.56rem;
  --container-xs: 18.4rem;
  --container-sm: 22.08rem;
  --container-md: 25.76rem;
  --container-lg: 29.44rem;
  --container-xl: 33.12rem;
  --container-2xl: 38.64rem;
  --container-3xl: 44.16rem;
  --container-4xl: 51.52rem;
  --container-5xl: 58.88rem;
  --container-6xl: 66.24rem;
  --container-7xl: 73.6rem;
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-display: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

[data-theme="duo"][data-mode="light"] {
  --color-accent: #504c47;
  --color-accent-active: #3e3a36;
  --color-accent-hover: #45413c;
  --color-accent-muted: #595550;
  --color-alert: #87002c;
  --color-alert-active: #68001e;
  --color-alert-hover: #750024;
  --color-alert-muted: #960533;
  --color-base: #f3ecdf;
  --color-base-active: #e2d2b7;
  --color-base-hover: #eaddc9;
  --color-base-muted: #f8f4ed;
  --color-border: #d9d6d1;
  --color-brand: #4e0fa1;
  --color-brand-active: #39007c;
  --color-brand-hover: #42018e;
  --color-brand-muted: #5418ac;
  --color-focus: #9d9a96;
  --color-info: #0931b3;
  --color-info-active: #031f94;
  --color-info-hover: #0426a0;
  --color-info-muted: #103bc1;
  --color-on-accent: #ebe8e4;
  --color-on-alert: #d9d6d1;
  --color-on-base: #514f4a;
  --color-on-brand: #d1cec9;
  --color-on-control: #43413d;
  --color-on-info: #dad8d3;
  --color-on-link: #2051db;
  --color-on-muted: #6b6964;
  --color-on-page: #4c4a46;
  --color-on-success: #e9e6e2;
  --color-shadow: #e0ddd8;
  --color-success: #005823;
  --color-success-active: #004214;
  --color-success-hover: #004c1a;
  --color-success-muted: #006125;
  --color-surface-control: #ede3d2;
  --color-surface-control-active: #deccae;
  --color-surface-control-hover: #e4d5bb;
  --color-surface-control-muted: #f5eee4;
  --color-surface-page: #faf7f2;
  --color-surface-raised: #f8f4ed;
}

[data-theme="duo"][data-mode="dark"] {
  --color-accent: #605c57;
  --color-accent-active: #4e4a45;
  --color-accent-hover: #55514c;
  --color-accent-muted: #6a6560;
  --color-alert: #a81d3f;
  --color-alert-active: #8f002f;
  --color-alert-hover: #990935;
  --color-alert-muted: #b42a48;
  --color-base: #2c1c00;
  --color-base-active: #170c00;
  --color-base-hover: #201300;
  --color-base-muted: #332200;
  --color-border: #2f2d29;
  --color-brand: #6833c9;
  --color-brand-active: #5418ac;
  --color-brand-hover: #5d24b9;
  --color-brand-muted: #6f3bd2;
  --color-focus: #5c5a56;
  --color-info: #1b4bd5;
  --color-info-active: #0c36ba;
  --color-info-hover: #113ec5;
  --color-info-muted: #2456e1;
  --color-on-accent: #FAF7F2;
  --color-on-alert: #fefbf6;
  --color-on-base: #aba9a4;
  --color-on-brand: #fefbf6;
  --color-on-control: #dedbd7;
  --color-on-info: #FAF7F2;
  --color-on-link: #6e9eff;
  --color-on-muted: #908d89;
  --color-on-page: #cdcac5;
  --color-on-success: #FAF7F2;
  --color-shadow: #312f2b;
  --color-success: #007030;
  --color-success-active: #005b25;
  --color-success-hover: #006327;
  --color-success-muted: #087b38;
  --color-surface-control: #2c1c00;
  --color-surface-control-active: #170c00;
  --color-surface-control-hover: #201300;
  --color-surface-control-muted: #332200;
  --color-surface-page: #120900;
  --color-surface-raised: #150b00;
}

[data-theme="leo"][data-mode="light"] {
  --color-accent: #3d3d44;
  --color-accent-active: #2a2a30;
  --color-accent-hover: #323239;
  --color-accent-muted: #43434b;
  --color-alert: #890c11;
  --color-alert-active: #690005;
  --color-alert-hover: #780008;
  --color-alert-muted: #931517;
  --color-base: #ececed;
  --color-base-active: #d3d3d7;
  --color-base-hover: #dedee1;
  --color-base-muted: #f4f4f5;
  --color-border: #d5d5d6;
  --color-brand: #813200;
  --color-brand-active: #612600;
  --color-brand-hover: #6d2e00;
  --color-brand-muted: #8a3900;
  --color-focus: #9a9a9b;
  --color-info: #1939a5;
  --color-info-active: #0e2787;
  --color-info-hover: #122e92;
  --color-info-muted: #2042b2;
  --color-on-accent: #d0d0d1;
  --color-on-alert: #d9d9da;
  --color-on-base: #4e4e4f;
  --color-on-brand: #e5e5e6;
  --color-on-control: #414142;
  --color-on-info: #dbdbdc;
  --color-on-link: #3057c7;
  --color-on-muted: #69696a;
  --color-on-page: #4b4b4c;
  --color-on-success: #ddddde;
  --color-shadow: #dcdcdd;
  --color-success: #005125;
  --color-success-active: #003b18;
  --color-success-hover: #00451d;
  --color-success-muted: #07592a;
  --color-surface-control: #e3e3e6;
  --color-surface-control-active: #cdcdd2;
  --color-surface-control-hover: #d8d8dc;
  --color-surface-control-muted: #eeeef0;
  --color-surface-page: #f8f8f9;
  --color-surface-raised: #f1f1f2;
}

[data-theme="leo"][data-mode="dark"] {
  --color-accent: #5c5c64;
  --color-accent-active: #4a4a52;
  --color-accent-hover: #515159;
  --color-accent-muted: #66666e;
  --color-alert: #a52724;
  --color-alert-active: #8c0f13;
  --color-alert-hover: #991b1b;
  --color-alert-muted: #b1322d;
  --color-base: #1f1f24;
  --color-base-active: #0e0e12;
  --color-base-hover: #16161a;
  --color-base-muted: #25252b;
  --color-border: #2d2d2e;
  --color-brand: #954200;
  --color-brand-active: #7b2e00;
  --color-brand-hover: #873700;
  --color-brand-muted: #a44900;
  --color-focus: #5a5b5b;
  --color-info: #2b51c5;
  --color-info-active: #1b3ba8;
  --color-info-hover: #2145b6;
  --color-info-muted: #3159ce;
  --color-on-accent: #F4F4F5;
  --color-on-alert: #fcfcfd;
  --color-on-base: #a9a9aa;
  --color-on-brand: #F4F4F5;
  --color-on-control: #dcdcdd;
  --color-on-info: #F4F4F5;
  --color-on-link: #739dff;
  --color-on-muted: #8e8e8f;
  --color-on-page: #cbcbcc;
  --color-on-success: #F4F4F5;
  --color-shadow: #2f2f30;
  --color-success: #216f3d;
  --color-success-active: #07592a;
  --color-success-hover: #136332;
  --color-success-muted: #2a7643;
  --color-surface-control: #1f1f24;
  --color-surface-control-active: #0e0e12;
  --color-surface-control-hover: #16161a;
  --color-surface-control-muted: #25252b;
  --color-surface-page: #0b0b0e;
  --color-surface-raised: #0d0d10;
}

[data-theme="neo"][data-mode="dark"] {
  --color-accent: #5d5d5d;
  --color-accent-active: #4b4b4b;
  --color-accent-hover: #525252;
  --color-accent-muted: #676767;
  --color-alert: #9b3435;
  --color-alert-active: #832225;
  --color-alert-hover: #902b2d;
  --color-alert-muted: #a73f3e;
  --color-base: #1f1f20;
  --color-base-active: #0f0f0f;
  --color-base-hover: #161616;
  --color-base-muted: #252526;
  --color-border: #2c2c2c;
  --color-brand: #3e55ae;
  --color-brand-active: #2c4093;
  --color-brand-hover: #34499f;
  --color-brand-muted: #445db6;
  --color-focus: #5a5a5a;
  --color-info: #005cb2;
  --color-info-active: #004792;
  --color-info-hover: #00509e;
  --color-info-muted: #0065c1;
  --color-on-accent: #F0F0F0;
  --color-on-alert: #fcfcfc;
  --color-on-base: #a9a9a9;
  --color-on-brand: #F0F0F0;
  --color-on-control: #dcdcdc;
  --color-on-info: #F0F0F0;
  --color-on-link: #52a2ff;
  --color-on-muted: #8e8e8e;
  --color-on-page: #cacaca;
  --color-on-success: #F0F0F0;
  --color-shadow: #1f1f1f;
  --color-success: #006f48;
  --color-success-active: #00593a;
  --color-success-hover: #006342;
  --color-success-muted: #007951;
  --color-surface-control: #1f1f20;
  --color-surface-control-active: #0f0f0f;
  --color-surface-control-hover: #161616;
  --color-surface-control-muted: #252526;
  --color-surface-page: #0b0b0b;
  --color-surface-raised: #0b0b0b;
}

[data-theme="uno"][data-mode="light"] {
  --color-accent: #3a485a;
  --color-accent-active: #2b3646;
  --color-accent-hover: #333f50;
  --color-accent-muted: #435064;
  --color-alert: #8c0002;
  --color-alert-active: #6a0000;
  --color-alert-hover: #780003;
  --color-alert-muted: #9b0006;
  --color-base: #e7edf4;
  --color-base-active: #c9d5e5;
  --color-base-hover: #d6e0eb;
  --color-base-muted: #f2f5f9;
  --color-border: #dde0e5;
  --color-brand: #004f65;
  --color-brand-active: #003a4d;
  --color-brand-hover: #004458;
  --color-brand-muted: #005972;
  --color-focus: #9da1a6;
  --color-info: #004c78;
  --color-info-active: #00375d;
  --color-info-hover: #004069;
  --color-info-muted: #005384;
  --color-on-accent: #dce0e5;
  --color-on-alert: #d5d9de;
  --color-on-base: #4c4f53;
  --color-on-brand: #dee2e7;
  --color-on-control: #43464a;
  --color-on-info: #dee2e7;
  --color-on-link: #00649b;
  --color-on-muted: #676a6e;
  --color-on-page: #464a4e;
  --color-on-success: #e2e6eb;
  --color-shadow: #dee2e7;
  --color-success: #00563c;
  --color-success-active: #00402a;
  --color-success-hover: #004a32;
  --color-success-muted: #005d43;
  --color-surface-control: #e7edf4;
  --color-surface-control-active: #c9d5e5;
  --color-surface-control-hover: #d6e0eb;
  --color-surface-control-muted: #f2f5f9;
  --color-surface-page: #f7f9fb;
  --color-surface-raised: #f2f5f9;
}

[data-theme="uno"][data-mode="dark"] {
  --color-accent: #505e73;
  --color-accent-active: #3f4c5f;
  --color-accent-hover: #455367;
  --color-accent-muted: #59687d;
  --color-alert: #b00d13;
  --color-alert-active: #900004;
  --color-alert-hover: #9e0009;
  --color-alert-muted: #bc201f;
  --color-base: #102034;
  --color-base-active: #050f1c;
  --color-base-hover: #091626;
  --color-base-muted: #16283e;
  --color-border: #2a2d30;
  --color-brand: #006882;
  --color-brand-active: #00546a;
  --color-brand-hover: #005b74;
  --color-brand-muted: #07728e;
  --color-focus: #585b5f;
  --color-info: #00649b;
  --color-info-active: #004e7b;
  --color-info-hover: #00588a;
  --color-info-muted: #096ba4;
  --color-on-accent: #EEF2F7;
  --color-on-alert: #f9fcff;
  --color-on-base: #a6aaae;
  --color-on-brand: #EEF2F7;
  --color-on-control: #d9dde2;
  --color-on-info: #EEF2F7;
  --color-on-link: #55a7e3;
  --color-on-muted: #8b8f93;
  --color-on-page: #c9cdd2;
  --color-on-success: #EEF2F7;
  --color-shadow: #2c2f33;
  --color-success: #007051;
  --color-success-active: #00583e;
  --color-success-hover: #006346;
  --color-success-muted: #047857;
  --color-surface-control: #102034;
  --color-surface-control-active: #050f1c;
  --color-surface-control-hover: #091626;
  --color-surface-control-muted: #16283e;
  --color-surface-page: #040c17;
  --color-surface-raised: #040c17;
}