defmodule <%= @app_module %>.MDExConverter do
  @moduledoc false

  alias <%= @app_module %>.Markdown.CodeBlocks

  def convert(_filepath, _front_matter, body, %{site: %{config: config}}) do
    body
    |> MDEx.to_html!(config.markdown[:mdex])
    |> CodeBlocks.transform()
  end
end
