@layer components {
  .layout__aside-tree-label {
    display: flex;
    width: 100%;
    min-width: 0;
    align-items: center;
    gap: var(--spacing);
  }

  .layout__aside-tree-label-text {
    min-width: 0;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .layout__aside-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }

  .layout__aside-icons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: var(--spacing);
  }

}
