<Layouts.app flash={@flash}<%= if scope do %> <%= scope.assign_key %>={@<%= scope.assign_key %>}<% end %>>
  <div>
    <h1 class="text-lg font-semibold">New <%= schema.human_singular %></h1>
    <p class="mt-1 text-sm text-zinc-500">Use this form to manage <%= schema.singular %> records in your database.</p>
  </div>

  <.<%= schema.singular %>_form changeset={@changeset} action={~p"<%= scope_assign_route_prefix %><%= schema.route_prefix %>"} return_to={~p"<%= scope_assign_route_prefix %><%= schema.route_prefix %>"} />
</Layouts.app>
