<.form :let={f} for={@changeset} action={@action}>
<%= Mix.Tasks.Corex.Gen.Html.indent_inputs(inputs, 2) %>
  <footer>
    <.action class="button button--primary" type="submit">Save <%= schema.human_singular %></.action>
    <.action :if={@return_to} href={@return_to}>Cancel</.action>
  </footer>
</.form>
