<.form :let={f} for={@changeset} action={@action}>
<%= Mix.Tasks.Corex.Gen.Html.indent_inputs(inputs, 2) %>
  <footer>
    <.action class="button button--primary" type="submit">Save <%= schema.human_singular %></.action>
    <.navigate :if={@return_to} to={@return_to} type="href" class="button">Cancel</.navigate>
  </footer>
</.form>
