@import "../main.css";

@layer components {
 .clipboard[data-loading] [data-scope="clipboard"][data-part="root"] {
 @apply ui-loading;
 }

 .clipboard {
 width: fit-content;
 }

 .clipboard [data-scope="clipboard"][data-part="root"] {
 @apply ui-root;

 gap: var(--spacing-space);
 }

 .clipboard [data-scope="clipboard"][data-part="root"][data-orientation="horizontal"] {
 align-items: center;
 }

 .clipboard [data-scope="clipboard"][data-part="root"][data-orientation="vertical"] {
 align-items: start;
 }

 .clipboard [data-scope="clipboard"][data-part="label"] {
 @apply ui-label;
 }

 .clipboard [data-scope="clipboard"][data-part="control"] {
 display: flex;
 flex-flow: row wrap;
 justify-content: start;
 gap: var(--spacing-space-sm);
 }

 .clipboard [data-scope="clipboard"][data-part="input"] {
 @apply ui-input;

 flex: 1 1 auto;
 min-width: 0;
 width: auto;
 max-width: none;
 }

 .clipboard [data-scope="clipboard"][data-part="input"][data-copied] {
 color: var(--color-success-text);
 border-color: var(--color-success);
 }

 .clipboard [data-scope="clipboard"][data-part="trigger"] {
 @apply ui-trigger;
 }

 .clipboard [data-scope="clipboard"][data-part="trigger"] [data-scope="clipboard"][data-part="copy"],
 .clipboard [data-scope="clipboard"][data-part="trigger"] [data-scope="clipboard"][data-part="copied"] {
 display: inline-flex;
 align-items: center;
 gap: var(--spacing-space);
 pointer-events: none;
 }

 .clipboard [data-scope="clipboard"][data-part="trigger"] [data-scope="clipboard"][data-part="copied"] {
 display: none;
 }

 .clipboard [data-scope="clipboard"][data-part="trigger"][data-copied] {
 color: var(--color-success-text);
 border-color: var(--color-success);
 outline: none;
 }

 .clipboard
 [data-scope="clipboard"][data-part="trigger"][data-copied]
 [data-scope="clipboard"][data-part="copy"] {
 display: none;
 }

 .clipboard
 [data-scope="clipboard"][data-part="trigger"][data-copied]
 [data-scope="clipboard"][data-part="copied"] {
 display: inline-flex;
 }

}
