@import "../main.css";

@layer components {
 .radio-group {
 width: fit-content;
 max-width: var(--container-md);
 }

 .radio-group[data-loading] [data-scope="radio-group"][data-part="root"] {
 @apply ui-loading;
 }

 .radio-group [data-scope="radio-group"][data-part="root"] {
 @apply ui-root;

 gap: var(--spacing-space);
 position: relative;
 padding-inline-end: var(--spacing-space);
 }

 .radio-group [data-scope="radio-group"][data-part="root"][data-readonly] {
 @apply ui-readonly;
 }

 .radio-group [data-scope="radio-group"][data-part="label"] {
 @apply ui-label;
 }

 [data-scope="radio-group"][data-part="item"] {
 display: flex;
 align-items: center;
 position: relative;
 width: 100%;
 gap: var(--spacing-space);
 cursor: pointer;
 }

 [data-scope="radio-group"][data-part="item-text"] {
 flex: 1 1 auto;
 min-width: 0;
 text-align: start;
 }

 [data-scope="radio-group"][data-part="item"][data-disabled] {
 cursor: not-allowed;
 }

 [data-scope="radio-group"][data-part="item-control"] {
 @apply ui-trigger ui-trigger--circle;

 flex-shrink: 0;
 margin-inline-start: auto;
 min-height: unset;
 min-width: unset;
 height: calc(var(--ctl-size, var(--spacing-size)) * 0.6);
 width: calc(var(--ctl-size, var(--spacing-size)) * 0.6);
 padding: calc(var(--ctl-space, var(--spacing-space)) * 0.25);

 &:disabled,
 &[data-disabled],
 &[disabled] {
 color: var(--color-ink-muted);
 background-color: var(--color-ui-muted);
 cursor: not-allowed;
 }

 &[data-invalid] {
 color: var(--color-alert);
 border-color: var(--color-alert);
 }

 &[data-required] {
 color: var(--color-alert);
 border-color: var(--color-alert);
 }
 }

 [data-scope="radio-group"][data-part="item-control"] .data-checked {
 display: none !important;
 }

 [data-scope="radio-group"][data-part="item-control"][data-state="checked"]
 .data-checked {
 display: block !important;
 @apply ui-icon;
 color: inherit;
 width: 60%;
 height: 60%;
 }

 .radio-group [data-scope="radio-group"][data-part="error"] {
 @apply ui-error;
 }
}
