@import "../main.css";

@layer components {
 .toggle[data-loading] [data-scope="toggle"][data-part="root"] {
 @apply ui-loading;
 }

 .toggle [data-scope="toggle"][data-part="root"] {
 @apply ui-trigger;

 width: fit-content;
 }

 .toggle [data-scope="toggle"][data-part="indicator"] {
 display: inline-flex;
 align-items: center;
 justify-content: center;
 }

 .toggle[data-toggle-dual-label]
 [data-scope="toggle"][data-part="root"][data-state="off"]
 > span[data-pressed] {
 display: none;
 }

 .toggle[data-toggle-dual-label]
 [data-scope="toggle"][data-part="root"][data-state="on"]
 > span:not([data-scope]):not([data-pressed]) {
 display: none;
 }

}
