@import "tailwindcss";
@plugin "../vendor/heroicons";
@import "../corex/corex.css";
@source "../corex";
@source "../../lib";
@import "./blog.css";
@import "./prose.css";
<%= if @mode do %>
@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));
<% end %>
