@import "tailwindcss";
@plugin "../vendor/heroicons";
<%= if @design do %>
@import "../corex/corex.css";
@source "../corex";
@source "../../lib";
<% else %>
@import "./corex-base.css";
<% end %>
@import "./blog.css";
@import "./prose.css";
<%= if @mode do %>
@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));
<% end %>
