@import "../main.css";

@layer components {
  .pin-input {
    width: auto;
    max-width: var(--container-md);
  }

  .pin-input[data-loading] [data-scope="pin-input"][data-part="root"] {
    @apply ui-loading;
  }

  .pin-input [data-scope="pin-input"][data-part="root"] {
    @apply ui-root;

    gap: var(--spacing-space);
    position: relative;
    padding-inline-end: var(--spacing-space);
  }

  .pin-input [data-scope="pin-input"][data-part="root"][data-disabled] {
    opacity: 0.6;
    pointer-events: none;
  }

  .pin-input [data-scope="pin-input"][data-part="root"][data-readonly] {
    @apply ui-readonly;
  }

  .pin-input [data-scope="pin-input"][data-part="label"] {
    @apply ui-label;
  }

  .pin-input [data-scope="pin-input"][data-part="label"][data-invalid] {
    color: var(--color-alert);
  }

  .pin-input [data-scope="pin-input"][data-part="label"][data-disabled] {
    color: var(--color-ink-muted);
  }

  .pin-input [data-scope="pin-input"][data-part="label"][data-complete] {
    color: var(--color-success);
  }

  .pin-input [data-scope="pin-input"][data-part="label"][data-readonly] {
    color: var(--color-ink-muted);
  }

  .pin-input [data-scope="pin-input"][data-part="control"] {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing-space);
    align-items: center;
    margin-inline: auto;
  }

  .pin-input [data-scope="pin-input"][data-part="input"] {
    @apply ui-input;

    height: var(--spacing-size);
    width: var(--spacing-size);
    flex-shrink: 0;
    text-align: center;
  }

  .pin-input [data-scope="pin-input"][data-part="input"][data-complete] {
    color: var(--color-success-ink);
    background-color: var(--color-success);
    border-color: var(--color-border);
  }

  .pin-input [data-scope="pin-input"][data-part="input"][data-invalid] {
    color: var(--color-alert-ink);
    background-color: var(--color-alert);
    border-color: var(--color-border);
  }

  .pin-input [data-scope="pin-input"][data-part="input"][data-disabled] {
    color: var(--color-ink-muted);
    background-color: var(--color-ui-muted);
    cursor: not-allowed;
  }
}

@utility pin-input--* {

  [data-scope="pin-input"][data-part="root"] {
    gap: --value(--spacing-space-*, [length]);
  }

  [data-scope="pin-input"][data-part="label"] {
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
  }

  [data-scope="pin-input"][data-part="control"] {
    gap: --value(--spacing-space-*, [length]);
  }

  [data-scope="pin-input"][data-part="input"] {
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
    height: --value(--spacing-size-*, [length]);
    width: --value(--spacing-size-*, [length]);
    background-color: --value(--color-ui, [color]);
    color: --value(--color-ink, [color]);
  }
}
